# build
dist

# claude
.claude/settings.local.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
node_modules

# npm
!.npmignore

# tests
coverage

# typescript
tsconfig.tsbuildinfo

# vscode
.vscode

# lefthook
lefthook-local.yml
